<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.RoomDetailMapper">

    <insert id="insertDetailRoom" parameterType="com.example.hotel.po.HotelRoomDetail"
    useGeneratedKeys="true" keyProperty="id">
        insert into RoomDetail(room_id,can_use,start_time,end_time,order_id)
        values (#{room_id},#{can_use},#{start_time},#{end_time},#{order_id})
    </insert>

    <delete id="deleteDetailRoom" >
        delete from Roomdetail where order_id=#{order_id}
    </delete>

    <select id="getAllDetailRooms" resultMap="Roomdetail">
        select * from Roomdetail where room_id=#{room_id}
    </select>

    <resultMap id="Roomdetail" type="com.example.hotel.po.HotelRoomDetail">
        <id column="id" property="id"></id>
        <result column="room_id" property="room_id"></result>
        <result column="can_use" property="can_use"></result>
        <result column="start_time" property="start_time"></result>
        <result column="end_time" property="end_time"></result>
        <result column="order_id" property="order_id"></result>
    </resultMap>
</mapper>